<!doctype html>
<html lang="en">

<head>
  <title>Architecture Reconstruction Project</title>
  <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
</head>

<body>
  <h1>Architecture Reconstruction Project</h1>
  <p>Reconstructing the <a href="https://github.com/zeeguu-ecosystem/Zeeguu-API">Zeeguu-API: Python backend</a></p>
  <p>
    <%= email %>
      <!-- <%= data %> -->
  </p>

  <div id="myDiagramDiv" style="width:650px; height:650px; background-color: #DAE4E4;"></div>
</body>

<script>
  var $ = go.GraphObject.make;
  var myDiagram =
    $(go.Diagram, "myDiagramDiv",
    );
  myDiagram.nodeTemplate =
    $(go.Node, "Auto",
      new go.Binding("location", "loc"),  // get the Node.location from the data.loc value
      $(go.Shape, "RoundedRectangle",
        { fill: "white" },
        new go.Binding("fill", "color")),
      $(go.TextBlock,
        { margin: 5 },
        new go.Binding("text", "key"))
    );

  let data = JSON.parse('<%-data%>');
  let x,
    y = 0
  console.log("RECEIVED:", data);

  const nodeDataArray = data.map(module => {
    return {
      key: module,
      color: 'lightblue',
      loc: new go.Point(x + 100, y + 50),
    }
  })
  console.log(nodeDataArray);

  var linkDataArray = [
    { from: data[0], to: data[1] },
    { from: data[1], to: data[2] },
    { from: data[2], to: data[0] }

  ];
  myDiagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);
</script>

</html>
