<!doctype html>
<html lang="en">

<head>
  <title>Architecture Reconstruction Project</title>
  <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid text-center">
    <h1 class="mt-5">Architecture Recovery Project</h1>
    <p class="blockquote mt-4 mb-4">Reconstructing a Module View with Cardinality Dependency from the <a
        href="https://github.com/zeeguu-ecosystem/Zeeguu-API">Zeeguu-API</a></p>

    <div>
      <h2 class="mt-5">Provide a github url to clone project from</h1>
        <form action="/generateModuleDiagram" method="post">
          <input type="text" name="projectUrl" />
          <input type="submit" value="Submit" />

        </form>
    </div>
  </div>

</body>


</html>
